.App,.AppBox {
  width: 100%;
  /* height: 667px; */
  overflow: hidden;
}
.content{
  position: relative;
  width: 100%;
  height: calc(100% - 44px);
  /* height: calc(100%); */
  overflow: hidden;
}
.App>img{
  width: 100%;
  height: 100%;
}
.content>img{
  width: 100%;
}


.titileImgBox{
  display: block;
  position: absolute;
  width: 100%;
}

.alreadyIn{
  position: absolute;
  text-align: center;
  color: white;
  font-size: 0.41rem;
  width: 100%;
  z-index: 15;
  line-height: 1.4em;
  text-shadow: rgb(255, 157, 11) -1px -1px 0px, rgb(255, 157, 11) 0px -1px 0px, rgb(255, 157, 11) 1px -1px 0px, rgb(255, 157, 11) 1px 0px 0px, rgb(255, 157, 11) 1px 1px 0px, rgb(255, 157, 11) 0px 1px 0px, rgb(255, 157, 11) -1px 1px 0px, rgb(255, 157, 11) -1px 0px 0px;
  cursor: move;
}
.chance{
  position: absolute;
  text-align: center;
  color: white;
  font-size: 0.41rem;
  width: 100%;
  z-index: 16;
  line-height: 1.4em;
  text-shadow: rgb(255, 157, 11) -1px -1px 0px, rgb(255, 157, 11) 0px -1px 0px, rgb(255, 157, 11) 1px -1px 0px, rgb(255, 157, 11) 1px 0px 0px, rgb(255, 157, 11) 1px 1px 0px, rgb(255, 157, 11) 0px 1px 0px, rgb(255, 157, 11) -1px 1px 0px, rgb(255, 157, 11) -1px 0px 0px;
  cursor: move;
}